/* Colors and fonts */
body {
	background: rgb(230, 230, 230);
	color: #1F4172;
	font-family: Lora, serif;
	font-size: 20px;
}

h1, h2, h3 {
	font-family: Roboto, sans-serif;
}

h1 {
	color: #132043;
	font-weight: 400;
	font-size: 35px;
}

h2 {
	color: #132043;
	font-size: 27px;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: #F1B4BB;
	font-weight: bold;
}
a:hover {
	color: #FDF0F0;
}

/* Custom design with class*/


 
div {
	margin: 5px;
    background: white;
    padding: 60px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px; 
    text-align: center; 
}    

img {
	border-radius: 50%;
}

ul li{
	display: inline;
	padding: 15px;
	text-align: center;
}











